@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 160px;
    width: 100%;
}

.button {
    border-radius: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    border: none;

    cursor: pointer;
    transition: .2s;
}

.button_light {
    background: #FEFFAB;
    color: #101010;
}

.button_light:hover {
    background: #F7F6F6;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.14);
}

.button_dark {
    background: #09334F;
    color: #fff;
}

.button_dark:hover {
    color: #09334F;
    background: #FEFFAB;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.14);
}

.button_big {
    padding-left: 55px;
    padding-right: 55px;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input__outer input,
.input__outer textarea {
    width: 100%;
}

.input__outer {
    position: relative;
}

/* .input__outer::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #d85abb;
} */

.form input {
    padding: 23px 22px;
    background: #FAFAFA;
    border-radius: 13.50px;
    border: 2px #CCCCCC solid;
    font-size: 16px;

    margin-bottom: 27px;
}

.form input::placeholder,
.form textarea::placeholder {
    opacity: .5;
}

.form input:focus,
.form textarea:focus {
    border: double 2px transparent;
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #FCFF71, #053FA6);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    outline: none;
}

.form .input_error {
    border: double 2px transparent;
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #970000, #970000);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    outline: none;
}

.form .input_error::placeholder {
    color: #970000;
}

.form .input_completed {
    border-color: #309700;
    position: relative;
}

.form .input__outer:has(.input_completed)::before {
    position: absolute;
    right: 48px;
    top: 32px;
    height: 10px;
    width: 3px;
    background-color: #309700;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
    z-index: 2;
}

.form .input__outer:has(.input_completed)::after {
    position: absolute;
    right: 30px;
    top: 40px;
    height: 3px;
    width: 20px;
    background-color: #309700;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
    z-index: 2;
}

.form textarea {
    padding: 23px 22px;
    background: #FAFAFA;
    border-radius: 13.50px;
    border: 2px #CCCCCC solid;
    min-height: 130px;
    font-size: 16px;

    margin-bottom: 72px;
    resize: none;
}

.form input::placeholder,
.form textarea::placeholder {
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.form .button {
    width: 250px;
}




/* HEADER */

.header {
    padding: 23px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    font-weight: 500;
    color: #09334F;
    font-size: 18px;
}

.phones {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
}

.phone {
    display: flex;
    align-items: center;
}

.phone__icon {
    width: 20px;
    padding: 2px;
}

.phone__text {
    margin-left: 10px;
}

.credentials {
    display: flex;
    align-items: center;
}

.credentials__item {
    margin-left: 40px;
}

.credentials__item:first-child {
    margin-left: 0;
}

.credentials__item:last-child {
    margin-left: 23px;
}

.credentials-link {
    display: flex;
    align-items: center;
}

.credentials-link__icon {
    width: 40px;
    padding: 3px;
}

.credentials-link__text {
    margin-left: 12px;
}




/* HERO SECTION */

.hero {
    background-color: #09334F;
    position: relative;
    overflow: hidden;
}

.hero__inner {
    width: 100%;
    position: relative;
    padding-top: 300px;
    padding-bottom: 273px;
}

.navbar {
    position: absolute;
    top: 45px;

    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    position: absolute;
    left: 0;

    color: #F7F6F6;
    font-size: 34px;
    font-weight: 500;
}

.navlist {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.navlist__item a {
    color: #F7F6F6;
    font-size: 18px;
    font-weight: 500;
}

.langlist {
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.langlist__item a {
    color: #F7F6F6;
    font-size: 18px;
    font-weight: 700;
}

.langlist__item_selected a,
.langlist__item:hover a {
    text-decoration: underline;
}

.hero__section {
    display: flex;
    align-items: start;
    gap: 194px;
}

.contactus {
    max-width: 704px;
}

.contactus__header {
    color: #F7F6F6;
    font-size: 68px;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
}

.contactus__header span {
    color: #FEFFAB;
}

.contactus__descr {
    margin-top: 20px;
    margin-bottom: 60px;
    color: #F7F6F6;
    font-size: 18px;
    font-weight: 400;
}

.id-card-img {
    width: 620px;
    box-shadow: 13px 13px 24px rgba(0, 0, 0, 0.29);
    border-radius: 20px;
}

.registration {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 265px;
}

.info {
    max-width: 700px;
}

.info__label {
    color: #F7F6F6;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.info__header {
    margin: 30px 0;
    color: #FEFFAB;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.info__descr {
    color: #F7F6F6;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
}

.info__descr:last-of-type {
    margin-bottom: 0;
}

.dovidka-img {
    max-width: 716px;
}

.hero__decoration {
    position: absolute;
}

#hd1 {
    top: -50px;
    left: 1530px;
    width: 600px;
    transform: rotate(-19.41deg);
    opacity: 0.23;
}

#hd2 {
    width: 760px;
    transform: rotate(-19.41deg);
    top: 180px;
    left: 995px;
}

#hd3 {
    width: 1050px;
    transform: rotate(-19.41deg);
    top: 765px;
    left: -155px;
    opacity: 0.4;
}

#hd4 {
    top: 1040px;
    left: 280px;
    transform: rotate(-117.08deg);
    width: 840px;
    opacity: 0.3;
}




/* SECTION2 */

.section2__inner {
    position: relative;
    padding-top: 150px;
}

.section2__info {
    max-width: 700px;
    margin-bottom: 293px;
}

.section2__label {
    color: #09334F;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.section2__header {
    margin-top: 20px;
    margin-bottom: 30px;

    color: #09334F;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.section2__descr {
    color: #09334F;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.section2__form-container {
    position: absolute;
    right: 0;
    top: -124px;

    width: 606px;
    height: 788px;
    background: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.16);
    border-radius: 26.99px;
    border: 1px #D4D4D4 solid;

    padding: 68px 35px 95px;
}

.section2__form-container h3 {
    text-align: center;
    color: #213B55;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.section2__form-container p {
    margin-top: 16px;
    text-align: center;
    color: #213B55;
    font-size: 22px;
    font-weight: 500;
}

.section2__form-container form {
    margin-top: 61px;
}




/* SERVICES SECTION */

.services {
    background: #E7EFF3;
    padding: 150px 0;
}

.services__header {
    color: #09334F;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.services__list {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 640px;
}

.services__list li {
    max-width: 610px;
    display: flex;
    align-items: start;
    gap: 65px;
    margin-top: 45px;
}

.services__list img {
    width: 82px;
}

.services__list h4 {
    color: #09334F;
    font-size: 28px;
    font-weight: 600;
}

.services__list p {
    margin-top: 20px;
    color: #09334F;
    font-size: 16px;
    font-weight: 400;
}