@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 160px;
    width: 100%;
}




/* HEADER */

.header {
    padding: 23px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    font-weight: 500;
    color: #09334F;
    font-size: 18px;
}

.phones {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
}

.phone {
    display: flex;
    align-items: center;
}

.phone__icon {
    width: 20px;
    padding: 2px;
}

.phone__text {
    margin-left: 10px;
}

.credentials {
    display: flex;
    align-items: center;
}

.credentials__item {
    margin-left: 40px;
}

.credentials__item:first-child {
    margin-left: 0;
}

.credentials__item:last-child {
    margin-left: 23px;
}

.credentials-link {
    display: flex;
    align-items: center;
}

.credentials-link__icon {
    width: 40px;
    padding: 3px;
}

.credentials-link__text {
    margin-left: 12px;
}




/* HERO SECTION */

.hero {
    background-color: #09334F;
    min-height: 200px;
}

.hero__inner {
    width: 100%;
    position: relative;
}

.navbar {
    position: absolute;
    top: 45px;

    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    position: absolute;
    left: 0;

    color: #F7F6F6;
    font-size: 34px;
    font-weight: 500;
}

.navlist {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.navlist__item a {
    color: #F7F6F6;
    font-size: 18px;
    font-weight: 500;
}

.langlist {
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.langlist__item a {
    color: #F7F6F6;
    font-size: 18px;
    font-weight: 700;
}

.langlist__item_selected a,
.langlist__item:hover a {
    text-decoration: underline;
}